<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Atta[chat]</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <h1>Atta[chat]</h1>
    <form id="chatForm" onsubmit="submitChat(); return false;">
        <div class="input-group">
            <label for="systemPrompt">System Prompt:</label>
            <textarea
                id="systemPrompt"
                name="systemPrompt"
                rows="25"
                placeholder="Type here..."
                aria-label="System prompt input"
                required></textarea>
        </div>

        <div class="input-group">
            <div role="group" aria-label="Preset system prompts">
                <button
                    type="button"
                    th:each="btn : ${buttons}"
                    th:data-content="${btn.content}"
                    th:text="${btn.label}"
                    onclick="setSystemPromptFromButton(this)"></button>
            </div>
        </div>

        <div class="input-group">
            <label for="prompt">User Prompt:</label>
            <textarea
                id="prompt"
                name="prompt"
                rows="10"
                placeholder="Type here..."
                aria-label="User prompt input"
                required></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>

    <div id="response">
        <h2>Response</h2>
        <hr>
        <p id="responseContent">Waiting for request to be made...</p>
        <hr>
        <h3>Tool Calls</h3>
        <ul id="functionCalls">
            <li>Waiting for request to be made...</li>
        </ul>
        <hr>
    </div>
</body>

</html>